body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #383838;
}

p {}

h1 {
  font-weight: 700;
  font-size: 26px;
}

h2, h3, h4 {
  font-weight: 700;
}

.notice {
  color: green;
  font-weight: 600;
}

.module-items,
.audit-results {
  margin: 0 0 0 40px;
}

.module-items {
  margin: 0 0 40px 0;
}

.issue {
  font-weight: 600;
  color: #ff0000;
}

.property-name {
  font-weight: 600;
}
 
.system-checkmark:after {
  font-size: 24px;
  font-weight: bold;
  color: green;
/*   position: relative; */
  content: "✓";
/*   top: -0.5rem; */
/*   left: 0.35rem; */
}
